---
layout: default
---

<div class="home">

  <h1 class="page-heading">Publications</h1>
  
  {{ content }}

  <div>
    <table>
      {% assign date_format = site.minima.date_format | default: "%b %Y" %}
      {% assign sorted = (site.pubs | sort: 'date') | reverse %}
      {% for pub in sorted %}
        <tr>
          <td height="110px">
            <div align="center">
              <a href="{{ pub.url }}"><img src="{{ pub.thumb }}" width="200" height="110"></a>
            </div>
          </td>
          <td height="110px">
            <div class="pub-info">
              <a href="{{ pub.url }}"><b>{{ pub.title }}</b></a>
              {% if pub.oral %}
                <em>[{{ pub.oral }}]</em>
              {% endif %}
              <br>
              {{ pub.auth }}<br>
              <i>{{ pub.pub }}, {{ pub.date | date: date_format }}</i><br>
              {% if pub.pdf %}
                <a class="pub-link" href="{{ pub.pdf }}" target="_blank">[PDF]</a>
              {% endif %}
              <a class="prj-link" href="{{ pub.url }}">[Project Page]</a>
              {% if pub.code %}
                {% if pub.src %}
                  <a class="pub-link" href="{{ pub.src }}">[Source Code]</a>
                {% else %}
                  [Source Code ASAP]
                {% endif %}
              {% endif %}
              {% if pub.inst %}
                <a class="pub-link" href="{{ pub.inst }}" target="_blank">[Instructables]</a>
              {% endif %}
              {% if pub.stlf3d %}
                <a class="pub-link" href="{{ pub.stlf3d }}" target="_blank">[STL+Fusion3D Files]</a>
              {% endif %}
              {% if pub.pres %}
                <a class="prj-link" href="{{ pub.pres }}">[Presentation Video]</a>
              {% endif %}
              {% if pub.talk %}
                <a class="prj-link" href="{{ pub.talk }}">[Invited Talk]</a>
              {% endif %}
              {% if pub.bib %}
                <a class="prj-link" href="{{ pub.url }}#bib">[bibtex]</a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
